@import url('https://fonts.cdnfonts.com/css/skeina');

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3em;
}

header h1 a{
    margin-left: 0.8em;
    font-size: 1.7em;
    font-weight: 100;
}

.navBar ul {
  font-size: 0.9em;
  display: flex;
  gap: 3em;
  justify-content: flex-end;
  align-items: center;
  letter-spacing: 0.1em;
}

.navBar li{
    list-style: none;
}

.navBar a, header h1 a{
    text-decoration: none;
}


header h1 a:hover, li:hover{
    cursor: pointer;
    border-bottom: 2px solid #4e5648e6;
    font-weight: 900;
}

body.darkMode header h1 a:hover, body.darkMode li:hover{
    border-bottom: 2px solid white;
}

h1, ul {
    font-family: 'Skeina', sans-serif;
}

body.darkMode header{
    border-bottom: 1px solid white;
}

body.lightMode header{
    border-bottom: 1px solid #4e5648e6;
}

@media screen and (max-width: 800px) {
    header{
        display: flex;
        flex-direction: column;
    }
    
    header h1{
        font-size: 1.5em;
        text-align: center;
    }

    header a {
        margin: 0 !important;
    }

    .navBar ul{
        gap: 3em;
        padding: 0em;
        width: 100%;
        font-size: 0.55em;
        margin-top: 0.8em;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        font-weight: bold;
    }
}

@media screen and (min-width: 801px) and (max-width: 1410px) {
    header {
        justify-content: space-between;
        align-items: center;
        padding: 0 3em;
    }

    header h1 a {
        font-size: 1.6em;
        margin-left: 0;
    }

    .navBar ul {
        font-size: 0.9em;
        gap: 3em;
        margin-top: 0;
        margin-left: 0;
        justify-content: flex-end;
    }

    .navBar li {
        padding-bottom: 0.3em;
    }
}