body.lightMode {
    background: linear-gradient(135deg, #f5f3f3 0%, #d3d5d0 50%, #f0f5ee 100%);
    background-attachment: fixed;
    color: #45483cf9;
}

body.darkMode {
    background: linear-gradient(135deg, #474a3ff9 0%, #363830 50%, #4a4e40 100%);
    background-attachment: fixed;
    color: white;
}

body {
    scrollbar-width: none;
    -ms-overflow-style: none;
    min-height: 98vh;
}
::-webkit-scrollbar {
    display: none;
}
