.darkmodeLightmodeBtn{
    font-size: 2.5em;
    position: fixed;
    right: 0.5em;
    bottom: 0.5em;
}

.darkmodeLightmodeBtn:hover {
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .darkmodeLightmodeBtn{
        font-size: 2em;
    }
}