#workExp {
    margin: auto;
    text-align: center;
}

iframe{
    width: 50vw;
    height: 90vh;
    border-radius: 1em;
}

#workExp h2{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    width: 10em;
    text-align: center;
    font-weight: 100;
    font-size: 2.3em;
    font-family: 'Skeina', sans-serif;
}

@media screen and (max-width: 800px) {
    #workExp h2 {
        font-size: 1.8em;
        width: auto;
        margin-top: 1.5em;
    }

    #workExp iframe {
        width: 60vw;
    }

}