@import url('https://fonts.cdnfonts.com/css/angrela-display');
@import url('https://fonts.cdnfonts.com/css/skeina');

.navbar {
    /* background: linear-gradient(135deg, #474a3ff9 0%, #363830 50%, #4a4e40 100%);
    background-attachment: scroll; */
    padding: 0.7em;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0.5em;
    left: 27%;
    z-index: 1000;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 5em;
    z-index: 1000;
}

.nav-links li a {
    /* color: white; */
    text-decoration: none;
    font-size: 1.4em;
    font-family: 'Skeina', sans-serif;
    transition: color 0.3s ease;
    /* text-shadow: 0 0 2px rgb(117, 119, 115); */
}

.navbar .nav-links li a.darkMode {
    color: inherit;
}

.navbar .nav-links li a.lightMode {
    color: inherit;
}

.nav-links li:hover,
.active {
    color: #ff6347;
}

/* @media (max-width: 1024px) {

    .navbar {
        left: 17%;
    }

    .nav-links li a {
        font-size: 1em;
    }
} */