.imgDiv{
    margin-top: 5em;
    display: flex;
    flex-direction: column;
}
.imgMe{
    width: 11em;
    border-radius: 3em;
    padding: 0.35em;
    border: 0.08em solid #4e5648e6;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.25);
}
.subtitles{
    width: 100%;
    justify-self: center;
    margin-top: 1em;
}
.subtitleStyle{
    font-style: italic;
    opacity: 0.9;
    font-size: 0.85em;
    text-align: center;
    line-height: 1.2;
}

body.darkMode .imgMe{
    border: 1px solid white;
}
@media screen and (min-width: 1201px) and (max-width: 1646px) {

    .imgDiv{
        margin-top: 3em;
    }
}
@media screen and (min-width: 801px) and (max-width: 1200px) {
    .imgDiv{
        position: relative;
        right: 7em;
        flex-direction: row;
    }
    .subtitles{
        margin: 3em 0 0 5em;
    }
    
     .imgMe{
        width: 9em;
     }
}
@media screen and (max-width: 700px) {
    .imgMe{
        width: 6em;
        margin-top: -3em;
        margin-left: 1em;
    }
    .subtitles{
        display: none;
    }
    .subtitleStyle{
        line-height: 1;
        margin-top: 1em;
    }

}
