.toggle {
    position: fixed;
    top: 1em;
    right: 1em;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.toggle input {
    display: none;
    
}

.slider {
    width: 3em;
    height: 1.5em;
    background-color: #ffffff;
    border-radius: 999px;
    position: relative;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 5px rgba(117, 119, 115, 0.589);
}

.slider::before {
    content: "";
    position: absolute;
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    background-color: #2e3028f9;
    /* background-color: rgb(198, 198, 198); */
    top: 0.125em;
    left: 0.125em;
    transition: transform 0.3s ease;
}

.toggle input:checked + .slider {
    background-color: rgb(198, 198, 198);
}

.toggle input:checked + .slider::before {
    transform: translateX(24px);
}


