.educationPage {
    margin: auto;
    text-align: center;
}


#education h2{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    width: 10em;
    text-align: center;
    font-weight: 100;
    font-size: 2.3em;
    font-family: 'Skeina', sans-serif;
}