@import url('https://fonts.cdnfonts.com/css/skeina');

header{
    display: flex;
    border-bottom: 1px solid #98a198;
    letter-spacing: 0.2em;
}

header h1 a{
    margin-left: 0.8em;
    font-size: 1.7em;
    font-weight: 100;
}

.navBar ul{
    font-size: 0.8em;
    display: flex;
    gap: 4em;
    margin-top: 3em;
    margin-left: 24em;
}

.navBar li{
    list-style: none;
}

.navBar a, header h1 a{
    text-decoration: none;
}


header h1 a:hover, li:hover{
    cursor: pointer;
    border-bottom: 2px solid #4e5648e6;
    font-weight: 900;
}

body.darkMode header h1 a:hover, body.darkMode li:hover{
    border-bottom: 2px solid white;
}

h1, ul {
    font-family: 'Skeina', sans-serif;
}

body.darkMode header{
    border-bottom: 1px solid white;
}

@media screen and (max-width: 800px) {
    header{
        display: flex;
        flex-direction: column;
    }
    
    header h1{
        font-size: 1.5em;
        text-align: center;
    }

    .navBar ul{
        gap: 2.5em;
        font-size: 0.6em;
        margin-top: 0.8em;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

}