.mainContent{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.mainContent h2 {
    font-weight: 100;
    font-size: 2em;
    width: 6em;
    font-family: 'Skeina', sans-serif;
}

.mainContent:hover{
    cursor: default;
}
