*, *::before, *::after, a, button, input, textarea, select {
  cursor: none !important;
}

@media screen and (min-width: 801px) and (max-width: 1410px) {

.cursor-dot {
  position: fixed;
  width: 6px;
  height: 6px;
  background: #555;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: background 0.2s;
}

.cursor-ring {
  position: fixed;
  width: 30px;
  height: 30px;
  border: 1.5px solid #55555588;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

}

body.darkMode .cursor-ring {
    border: 1.5px solid rgba(239, 239, 239, 0.425);
}

body.darkMode .cursor-dot{
    background: #e1e1e1;
}

.bubble-container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
}

.bubble {
  position: absolute;
  border-radius: 50%;
}

body.lightMode .bubble {
  background: rgba(255, 255, 255, 0.23);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

body.darkMode .bubble {
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.07);
}